<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuang.music_cms.mapper.AuthorityMapper">

    <!--根据根据条件获取权限并去除重复项-->
    <select id="getAuthorityByUserId" resultType="com.zhuang.music_cms.model.vo.ResponseAuthority">
        SELECT DISTINCT a.id, a.authorityName, a.mark, a.type, a.icon, a.superiorId FROM
        authority a, roles r, roles_authority ra, user_roles ur WHERE
        a.id = ra.aid AND ra.rid = r.id AND r.id = ur.rid AND
        ur.uid = #{userId} AND a.type = #{type}
        <if test="superiorId &gt; 0">
            AND a.superiorId = #{superiorId}
        </if>
        <if test="superiorId &lt; 0">
            AND a.superiorId != 0
        </if>
    </select>

    <!--获取所有权限-->
    <select id="getAuthority" resultType="com.zhuang.music_cms.model.vo.ResponseAuthority">
        SELECT id, authorityName, icon, superiorId FROM authority
    </select>

    <!--获取所有权限-->
    <select id="getAuthorityAll" resultType="com.zhuang.music_cms.model.entity.Authority">
        SELECT * FROM authority
    </select>

    <!--根据角色id获取拥有的权限id-->
    <select id="getAuthorityIdByRolesId" parameterType="Integer" resultType="Integer">
        SELECT DISTINCT ra.aid FROM roles_authority ra, roles r, user_roles ur
        WHERE ra.rid = r.id AND r.id = #{rolesId}
    </select>

    <!--根据角色id添加权限-->
    <insert id="addAuthorityByRolesId">
        INSERT INTO roles_authority (rid, aid)
        <foreach collection="authorityId" item="id" separator="union all">
            (SELECT #{rolesId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}
            FROM DUAL WHERE NOT EXISTS(SELECT rid, aid FROM roles_authority
            WHERE rid = #{rolesId,jdbcType=INTEGER} AND aid = #{id,jdbcType=INTEGER}))
        </foreach>
    </insert>

    <!--根据角色id删除权限-->
    <delete id="deleteAuthorityByRolesId">
        DELETE FROM roles_authority WHERE rid = #{rolesId} AND aid NOT IN
        <foreach collection="authorityId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据用户id获取用户API权限-->
    <select id="getUserApi" parameterType="Integer" resultType="String">
        SELECT DISTINCT a.api FROM authority a, roles r, roles_authority ra, user_roles ur
        WHERE a.api != "" AND a.id = ra.aid AND ra.rid = r.id AND r.id = ur.rid AND ur.uid = #{userId}
    </select>

</mapper>