<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuang.music_cms.mapper.RolesMapper">

    <!--查询所有角色-->
    <select id="getRolesAll" parameterType="String" resultType="com.zhuang.music_cms.model.entity.Roles">
        SELECT * FROM roles
        <where>
            <if test="search != null and search != '' ">
                rolesName like CONCAT('%','${search}','%' )
            </if>
        </where>
    </select>

    <!--根据用户id查询角色-->
    <select id="getRolesByUserId" parameterType="Integer" resultType="com.zhuang.music_cms.model.vo.ResponseRoles">
        SELECT r.id, r.rolesName FROM roles r, user_roles ur WHERE r.id = ur.rid AND ur.uid = #{userId}
    </select>

    <!--根据用户id查询不属于该用户的角色-->
    <select id="getNoRoles" parameterType="Integer" resultType="com.zhuang.music_cms.model.vo.ResponseRoles">
        SELECT r.id, r.rolesName FROM roles r WHERE r.id NOT IN
        (SELECT r.id FROM roles r, user_roles ur WHERE r.id = ur.rid AND ur.uid = #{userId})
    </select>

    <!--根据用户id删除角色-->
    <delete id="deleteRolesByUserId">
        DELETE FROM user_roles WHERE uid = #{userId} AND rid IN
        <foreach collection="rolesId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据用户id添加角色-->
    <insert id="addRolesByUserId">
        INSERT INTO user_roles (uid, rid)
        <foreach collection="rolesId" item="id" separator="union all">
            (SELECT #{userId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}
            FROM DUAL WHERE NOT EXISTS(SELECT uid, rid FROM user_roles
            WHERE uid = #{userId,jdbcType=INTEGER} AND rid = #{id,jdbcType=INTEGER}))
        </foreach>
    </insert>

    <!--添加一条记录-->
    <insert id="addRoles" parameterType="com.zhuang.music_cms.model.entity.Roles">
        INSERT INTO roles(rolesName,explanation,createTime)
        VALUES(#{rolesName},#{explanation},#{createTime})
    </insert>

    <!--根据id删除一条记录-->
    <delete id="deleteRoles" parameterType="Integer">
        DELETE FROM user_roles WHERE rid = #{id};
        DELETE FROM roles WHERE id = #{id}
    </delete>

    <!--根据id查询一条记录-->
    <select id="getRolesById" resultType="com.zhuang.music_cms.model.entity.Roles">
         SELECT * FROM roles WHERE id = #{id}
    </select>

    <!--根据id更新一条记录-->
    <update id="updateRoles" parameterType="com.zhuang.music_cms.model.entity.Roles">
        UPDATE roles SET roles.rolesName = #{rolesName}, roles.explanation = #{explanation}
        WHERE roles.id = #{id}
    </update>

</mapper>