<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuang.music_cms.mapper.SongMapper">

    <!--查询全部记录-->
    <select id="getSongAll" parameterType="String" resultType="com.zhuang.music_cms.model.entity.Song">
         SELECT * FROM song
        <where>
            <if test="search != null and search != '' ">
                songName like CONCAT('%','${search}','%' )
            </if>
        </where>
    </select>

    <!--根据歌曲id查询记录-->
    <select id="getSongById" parameterType="Integer" resultType="com.zhuang.music_cms.model.entity.Song">
        SELECT * FROM song WHERE id = #{id}
    </select>

    <!--添加一条记录-->
    <insert id="addSong" parameterType="com.zhuang.music_cms.model.entity.Song">
        INSERT INTO song(songName,singer,album)
        VALUES (#{songName},#{singer},#{album});
    </insert>

    <!--根据歌曲id增加歌曲链接-->
    <update id="updateSongUrl">
        UPDATE song SET song.songUrl = #{songUrl}
        WHERE song.id = #{id}
    </update>

    <!--根据歌曲id修改记录-->
    <update id="updateSong" parameterType="com.zhuang.music_cms.model.entity.Song">
        UPDATE song SET song.songName = #{songName},song.singer = #{singer},song.album = #{album}
        WHERE song.id = #{id}
    </update>

    <!--根据id删除记录-->
    <delete id="deleteSong" parameterType="Integer">
        DELETE FROM song_songList WHERE sid = #{id};
        DELETE FROM song WHERE id = #{id}
    </delete>

    <!--获取歌曲部分字段记录-->
    <select id="getSong" resultType="com.zhuang.music_cms.model.vo.ResponseSong">
        SELECT song.id, song.songName FROM song
    </select>

</mapper>