<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuang.music_cms.mapper.SongListMapper">
    
    <!--获取全部记录-->
    <select id="getSongListAll" parameterType="String" resultType="com.zhuang.music_cms.model.entity.SongList">
        SELECT * FROM songList
        <where>
            <if test="search != null and search != '' ">
                songListName like CONCAT('%','${search}','%' )
            </if>
        </where>
    </select>

    <!--添加一条记录-->
    <insert id="addSongList" parameterType="com.zhuang.music_cms.model.entity.SongList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO songList(songListName,introduction,createTime)
        VALUES (#{songListName},#{introduction},#{createTime});
    </insert>

    <!--根据歌单id添加歌曲-->
    <update id="addSongListSong">
        INSERT INTO song_songList (lid, sid)
        <foreach collection="songId" item="id" separator="union all">
            (SELECT #{songListId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}
            FROM DUAL WHERE NOT EXISTS(SELECT lid, sid FROM song_songList
            WHERE lid = #{songListId,jdbcType=INTEGER} AND sid = #{id,jdbcType=INTEGER}))
        </foreach>
    </update>

    <!--根据歌单id删除歌曲-->
    <delete id="deleteSongListSong">
        DELETE FROM song_songList WHERE lid = #{songListId} AND sid NOT IN
        <foreach collection="songId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据歌单id获取歌单-->
    <select id="getSongListById" parameterType="Integer" resultType="com.zhuang.music_cms.model.entity.SongList" >
        SELECT * FROM songlist WHERE id = #{id}
    </select>

    <!--根据歌单id获取歌曲id-->
    <select id="getSongIdBySongListId" parameterType="Integer" resultType="Integer">
        SELECT song_songlist.sid FROM song_songlist WHERE lid = #{id}
    </select>

    <!--根据歌单id更新数据-->
    <update id="updateSongList" parameterType="com.zhuang.music_cms.model.entity.SongList">
        UPDATE songlist SET songlist.songListName = #{songListName}, songlist.introduction = #{introduction}
        WHERE songlist.id = #{id}
    </update>

    <!--根据id删除数据-->
    <delete id="deleteSongList" parameterType="Integer">
        DELETE FROM song_songlist WHERE lid = #{id};
        DELETE FROM songlist WHERE id = #{id}
    </delete>

    <!--根据歌单id获取歌单列表-->
    <select id="getSongBySongListId" parameterType="Integer" resultType="com.zhuang.music_cms.model.entity.Song">
        SELECT s.* FROM song s, song_songlist sl WHERE s.id = sl.sid ANd sl.lid = #{id}
    </select>

</mapper>